pre .str, code .str {
    color: #BCD42A;
}

/* string  */
pre .kwd, code .kwd {
    color: #4bb1b1;
    font-weight: bold;
}

/* keyword*/
pre .com, code .com {
    color: #888;
    font-weight: bold;
}

/* comment */
pre .typ, code .typ {
    color: #ef7c61;
}

/* type  */
pre .lit, code .lit {
    color: #BCD42A;
}

/* literal */
pre .pun, code .pun {
    color: #fff;
    font-weight: bold;
}

/* punctuation  */
pre .pln, code .pln {
    color: #e9e4e5;
}

/* plaintext  */
pre .tag, code .tag {
    color: #4bb1b1;
}

/* html/xml tag  */
pre .htm, code .htm {
    color: #dda0dd;
}

/* html tag */
pre .xsl, code .xsl {
    color: #d0a0d0;
}

/* xslt tag */
pre .atn, code .atn {
    color: #ef7c61;
    font-weight: normal;
}

/* html/xml attribute name */
pre .atv, code .atv {
    color: #bcd42a;
}

/* html/xml attribute value  */
pre .dec, code .dec {
    color: #606;
}

/* decimal  */
pre.prettyprint, code.prettyprint {
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    background: #333;
    color: #e9e4e5;
}

pre.prettyprint {
    white-space: pre-wrap;
}

pre.prettyprint a, code.prettyprint a {
    text-decoration: none;
}

pre.sf-dump {
    padding: 0 !important;
    margin: 0 !important;
}
