#exc-btns {
    position: absolute;
    right: 0;
    top: -10px;
    width: 115px;
}

#copy-button, #google-button {
    width: 115px;
    cursor: pointer;
    padding: 5px;
    background: #2a2a2a;
    border: 2px solid #444;
    color: #666;
    border-radius: 3px;
    outline: none !important;
}

#copy-button:hover, #google-button:hover {
    border-color: #555;
    color: #777;
}

#google-button {
    margin-top: 4px;
}

.tooltipped {
    position: relative
}

.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: #000;
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: #000;
    pointer-events: none;
    content: "";
    border: 5px solid transparent
}

.tooltipped:hover:before,
.tooltipped:hover:after,
.tooltipped:active:before,
.tooltipped:active:after,
.tooltipped:focus:before,
.tooltipped:focus:after {
    display: inline-block;
    text-decoration: none
}

.tooltipped-s:after {
    top: 100%;
    right: 30%;
    margin-top: 5px
}

.tooltipped-s:before {
    top: auto;
    right: 30%;
    bottom: -5px;
    margin-right: 5px;
    border-bottom-color: #000;
}
